tests/test_models/__pycache__/test_base.cpython-39.pyc
tests/test_models/__pycache__/test_rectangle.cpython-39.pyc
tests/test_models/__pycache__/test_square.cpython-39.pyc
tests/test_models/.test_square.py.swp
tests/test_models/.test_.swp
.idea/sonarlint/issuestore/index.pb
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/csv-plugin.xml
.idea/Almost_A_Circle_Tests.iml
